{% extends '::layout.html.twig' %}

{% block content -%}
    <section class='row'>
        <h1>
            Series list
            <a class="btn-primaty" href="{{ path('series_create') }}">
                <i class="glyphicon glyphicon-plus-sign"> Ajouter </i>
            </a>
        </h1>
        {% for serie in series %}
            <article class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                <header>
                    <figure>
                        <img class="img-responsive" src="{{ serie.picture|default(asset('/bundles/app/img/series-default.jpg')) }}" alt="picture" title="{{ serie.name }}">
                        <figcaption>
                            <h1>{{ serie.name }}</h1>
                        </figcaption>
                    </figure>
                </header>
                <p>{{ serie.summary }}</p>
                <footer>
                    <p> Released on {{ serie.releasedAt|date('Y-m-d') }} in {{ serie.country }} </p>
                </footer>
                <aside>
                    <div class="btn-group" role="group" aria-label="actions">
                        <a href="{{ path('series_show', {'id': serie.id}) }}" class="btn btn-primary">
                            <i class="glyphicon glyphicon-king">Show</i>
                        </a>
                        <a href="{{ path('series_edit', {'id': serie.id}) }}" class="btn btn-warning">
                            <i class="glyphicon glyphicon-edit">Edit</i>
                        </a>
                        {# pas de bouton de suppression dans une boucle #}
                        {#<a href="{{ url('series_delete', {'id': serie.id}) }}" class="btn btn-danger">
                            <i class="glyphicon glyphicon-trash">Remove</i>
                        </a>#}
                    </div>
                </aside>
            </article>
        {% endfor %}

    </section>

    {#<table class="records_list">#}
        {#<thead>#}
            {#<tr>#}
                {#<th>Id</th>#}
                {#<th>Name</th>#}
                {#<th>Releasedat</th>#}
                {#<th>Summary</th>#}
                {#<th>Picture</th>#}
                {#<th>Country</th>#}
                {#<th>Actions</th>#}
            {#</tr>#}
        {#</thead>#}
        {#<tbody>#}
        {#{% for entity in entities %}#}
            {#<tr>#}
                {#<td><a href="{{ path('series_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>#}
                {#<td>{{ entity.name }}</td>#}
                {#<td>{% if entity.releasedAt %}{{ entity.releasedAt|date('Y-m-d H:i:s') }}{% endif %}</td>#}
                {#<td>{{ entity.summary }}</td>#}
                {#<td>{{ entity.picture }}</td>#}
                {#<td>{{ entity.country }}</td>#}
                {#<td>#}
                {#<ul>#}
                    {#<li>#}
                        {#<a href="{{ path('series_show', { 'id': entity.id }) }}">show</a>#}
                    {#</li>#}
                    {#<li>#}
                        {#<a href="{{ path('series_edit', { 'id': entity.id }) }}">edit</a>#}
                    {#</li>#}
                {#</ul>#}
                {#</td>#}
            {#</tr>#}
        {#{% endfor %}#}
        {#</tbody>#}
    {#</table>#}

        {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('series_new') }}">#}
                {#Create a new entry#}
            {#</a>#}
        {#</li>#}
    {#</ul>#}
    {% endblock %}
